.header{
padding: 40px;
   text-align: center;
   color: peachpuff;
   font-size: 2vw;
   font-family: 'Petit Formal Script', cursive;
 }

 .section1{
    display: flex;
    flex-direction: row;
    align-content: center;
    font-family: 'Cormorant', serif;

 }
 .book-forest{
    width: 90%;
    height: 400px;
    padding: 20px;
    
 }

 .shelf{
    display:flex;
    justify-content: center;
    
 }
.intro{

    padding: 30px 60px 10px 60px;
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 1.5vw;
    font-family: 'Cormorant', serif;
}

.fave{
    
    padding: 0px 60px 0px 60px;
    font-size: 2vw;
    font-family: 'Josefin Slab', serif;

}

.genre{

    padding: 0px 60px 0px 100px;
    font-size: 1.5vw;
    font-family: 'Cormorant', serif;
}

.top-picks{

    padding: 0px 60px 0px 60px;
    font-size: 2vw;
    font-family: 'Josefin Slab', serif;

}


.top-picks-list{

    padding: 0px 60px 0px 60px;
    font-size: 1.5vw;
    font-family: 'Cormorant', serif;

}

.new{
    
    padding: 0px 60px 0px 60px;
    font-size: 2vw;
    font-family: 'Josefin Slab', serif;

}

.newme{
    padding: 0px 60px 10px 60px;
    font-size: 1.5vw;
    font-family: 'Cormorant', serif;
}

.columnn{
    display:flex;
    flex-direction: column;

}

.bigrow{
    display:flex;

}

.s-bookshelf{
    width: 30%;
    height: 30%;
    padding: 50px;
    display: flex;
    flex-direction: row;

}

.current{
    padding: 0px 60px 0px 60px;
    font-size: 2vw;
    font-family: 'Josefin Slab', serif;

}

.row{
    padding: 0px 30px 0px 30px;
    display:flex;
    justify-content: space-between;

}

.pink{
    width:300px;
    height: 400px;
    padding: 60px;
    border-color: pink;
    border-width: 2px;
    border-style: solid;

}

.blue{
    width:300px;
    height: 400px;
    padding: 60px;
    border-color: orange;
    border-width: 2px;
    border-style: solid;

}

.blawhite{
    width:300px;
    height: 400px;
    padding: 60px;
    border-color: black;
    border-width: 2px;
    border-style: solid;

}
    
.ending{
    padding: 10px 60px 10px 60px;
    font-size: 1.5vw;
    font-family: 'Cormorant', serif;
}

footer{
    display:flex;
    padding: 50px;
    background: peachpuff;
    justify-content: space-between;
}

.wonderful{
    font-family: 'Petit Formal Script', cursive;
    font-size: 1.5vw;
}

.follow{
    font-family: 'Josefin Slab', serif;
    
}

#current-time{
    font-size: 1.5vw;

}